{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}

{% set errorHtml = '' %}

{% if form.plainPassword.first.vars.errors is not empty %}
    {% for error in form.plainPassword.first.vars.errors %}
        {% set errorHtml = errorHtml ~ '<div class="alert alert-danger">' ~ error.message ~ '</div>' %}
    {% endfor %}
{% endif %}

<div class="max-w-xl mx-auto mt-20">

    {% include 'components/ui/card.html.twig' with {
    content: '
        <h1 class="text-3xl font-bold mb-4 text-neutral-900">Réinitialisez votre mot de passe</h1>

        ' ~ include("pages/partials/_alert.html.twig") ~ '

        ' ~ form_start(form, {"attr": {"data-turbo": "false", "class": "flex flex-col gap-4"}}) ~ '

        ' ~ errorHtml ~ '

            <label class="flex flex-col text-sm font-medium">
                ' ~ form_label(form.plainPassword.first) ~ '
                
                ' ~ form_widget(form.plainPassword.first, {"attr": {"class": "mt-1 rounded-xl border border-neutral-200 p-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"}}) ~ '
            </label>

            <label class="flex flex-col text-sm font-medium">
                ' ~ form_label(form.plainPassword.second) ~ '

                ' ~ form_widget(form.plainPassword.second, {"attr": {"class": "mt-1 rounded-xl border border-neutral-200 p-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"}}) ~ '
            </label>

            ' ~ include("components/ui/button.html.twig", {
                label: "Réinitialiser le mot de passe",
                type: "submit",
                variant: "primary",
                class: "mt-2 w-full flex justify-center"
            }) ~ '

        ' ~ form_end(form) ~ '
    ',
    class: 'max-w-xl'
} %}

</div>

{% endblock %}
