{# templates/pages/partials/_brand.html.twig #}
<a href="{{ path('app_home') }}" class="flex items-center gap-2">
    {# <img src="{{ asset('images/logo_site_pulse.png') }}" width="40px" alt="Logo" /> #}
    <h1 class="font-brand text-4xl text-indigo-500 font-bold">SitePulse</h1>
</a>